<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>admin-dasboard</title>
		<link 
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" 
		rel="stylesheet"
		/>
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
	</head>
	<link rel="stylesheet" href="css/navbar.css" />
	<link rel="stylesheet" href="css/dashboardadmin.css">
	<body>
		<div id="root"></div>
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
			rel="stylesheet" />
		<!-- nav bar -->
			<div id="navbar">
				<div
					id="logo"
					style="
						width: 285.6px;
						height: 57.6px;
						left: 40px;
						top: 5.6px;
						position: absolute;
					">
					<div
						style="
							width: 255px;
							height: 53.6px;
							left: 17.6px;
							top: 0px;
							position: absolute;
							background: #142c64;
							border-radius: 16px;
						"></div>
					<img
						style="
							width: 88.8px;
							height: 56.8px;
							left: 0px;
							top: 0.8px;
							position: absolute;
						"
						src="images/01_logobachkhoatoi 1.png" />
					<div
						style="
							width: 178px;
							height: 49px;
							left: 85px;
							top: 0px;
							position: absolute;
							color: white;
							font-size: 22.4px;
							font-family: Montserrat;
							font-weight: 700;
							word-wrap: break-word;
						">
						E-bookstore
					</div>
				</div>
				<div class="nav-block">
					<script>
						function openMenu(x) {
							x.classList.toggle("change");
							const menu = document.getElementById("menu");
							if (menu.classList.contains("appear")) {
								menu.classList.remove("appear");
							} else {
								menu.classList.add("appear");
							}
						}
					</script>
					<div id="menu-icon" onclick="openMenu(this)">
						<div id="bar1"></div>
						<div id="bar2"></div>
						<div id="bar3"></div>
					</div>
					<ul id="menu">
						<li onClick="window.location.href='index.html';">TRANG CHỦ</li>
						<li onClick="window.location.href='customer_dashboard.html';"
						class="index-page">
							BẢNG ĐIỀU KHIỂN
						</li>
						<li onClick="window.location.href='upload_file.html';">
							IN TÀI LIỆU
						</li>
						<li
							onClick="window.location.href='printing_history.html';">
							LỊCH SỬ IN
						</li>
						<li onClick="window.location.href='buy_paper.html';">
							MUA THÊM GIẤY
						</li>
					</ul>
				</div>
				<div id="noti-account">
					<div id="noti">
						<svg
							id="circle"
							width="18"
							height="20"
							viewBox="0 0 18 20"
							fill="none"
							xmlns="http://www.w3.org/2000/svg">
							<path
								id="Vector"
								d="M12 15V16C12 17.6569 10.6569 19 9 19C7.34315 19 6 17.6569 6 16V15M12 15H6M12 15H15.5905C15.973 15 16.1652 15 16.3201 14.9478C16.616 14.848 16.8475 14.6156 16.9473 14.3198C16.9997 14.1643 16.9997 13.9715 16.9997 13.5859C16.9997 13.4172 16.9995 13.3329 16.9863 13.2524C16.9614 13.1004 16.9024 12.9563 16.8126 12.8312C16.7651 12.7651 16.7048 12.7048 16.5858 12.5858L16.1963 12.1963C16.0706 12.0706 16 11.9001 16 11.7224V8C16 4.134 12.866 0.999991 9 1C5.13401 1.00001 2 4.13401 2 8V11.7224C2 11.9002 1.92924 12.0706 1.80357 12.1963L1.41406 12.5858C1.29476 12.7051 1.23504 12.765 1.1875 12.8312C1.09766 12.9564 1.03815 13.1004 1.0132 13.2524C1 13.3329 1 13.4172 1 13.586C1 13.9715 1 14.1642 1.05245 14.3197C1.15225 14.6156 1.3848 14.848 1.68066 14.9478C1.83556 15 2.02701 15 2.40956 15H6"
								stroke="black"
								stroke-width="1.6"
								stroke-linecap="round"
								stroke-linejoin="round" />
						</svg>
						<svg
							id="bell"
							width="42"
							height="41"
							viewBox="0 0 42 41"
							fill="none"
							xmlns="http://www.w3.org/2000/svg">
							<path
								id="Ellipse 3230"
								d="M41 20.5C41 31.5457 32.0457 40.5 21 40.5C9.9543 40.5 1 31.5457 1 20.5C1 9.4543 9.9543 0.5 21 0.5C32.0457 0.5 41 9.4543 41 20.5Z"
								stroke="black" />
						</svg>
					</div>
					<div class="info-list">
						<ul>
							<li>
								<svg
									width="51"
									height="51"
									viewBox="0 0 51 51"
									fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<g id="User / User_Square">
										<path
											id="Vector"
											d="M35.6998 44.0998C35.6998 38.3008 30.9988 33.5998 25.1998 33.5998C19.4008 33.5998 14.6998 38.3008 14.6998 44.0998M35.6998 44.0998H37.3863C39.7339 44.0998 40.9078 44.0998 41.8053 43.6425C42.5956 43.2398 43.2398 42.5956 43.6425 41.8053C44.0998 40.9078 44.0998 39.7339 44.0998 37.3863V13.0133C44.0998 10.6657 44.0998 9.49013 43.6425 8.59258C43.2398 7.8023 42.5956 7.16025 41.8053 6.75758C40.9069 6.2998 39.7324 6.2998 37.3802 6.2998H13.0202C10.668 6.2998 9.49101 6.2998 8.59258 6.75758C7.8023 7.16025 7.16025 7.8023 6.75758 8.59258C6.2998 9.49101 6.2998 10.668 6.2998 13.0202V37.3802C6.2998 39.7324 6.2998 40.9069 6.75758 41.8053C7.16025 42.5956 7.8023 43.2398 8.59258 43.6425C9.49013 44.0998 10.6657 44.0998 13.0133 44.0998H14.6998M35.6998 44.0998H14.6998M25.1998 27.2998C21.7204 27.2998 18.8998 24.4792 18.8998 20.9998C18.8998 17.5204 21.7204 14.6998 25.1998 14.6998C28.6792 14.6998 31.4998 17.5204 31.4998 20.9998C31.4998 24.4792 28.6792 27.2998 25.1998 27.2998Z"
											stroke="black"
											stroke-width="1.6"
											stroke-linecap="round"
											stroke-linejoin="round" />
									</g>
								</svg>
								<div class="name">Katheryn</div>
								<ul class="dropdown">
									<li><a>Hồ sơ</a></li>
									<li>
										<a>Ngôn ngữ</a>
										<ul class="nextpage">
											<li>Tiếng Việt</li>
											<li>English</li>
										</ul>
									</li>
									<li><a href="login_for_customer.html">Đăng xuất</a></li>
								</ul>
								<svg
									style="padding: 0 10px, 0 10px"
									width="10"
									height="5"
									viewBox="0 0 12 8"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
									style="margin-left: -5px">
									<path
										d="M1 1L6 6L11 1"
										stroke="black"
										stroke-width="1.6"
										stroke-linecap="round"
										stroke-linejoin="round" />
								</svg>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!--Trang điều khiển-->
			<div class="main-container">
				<div class="left-column">
					<div class="big-container">
					<div class="sub-container">
					<!--thống kê-->
					<div class="container">
						<!--Stat-item 1-->
						<div class="stat-item-1">
							<div class="stat-header">
								<span>Lượt Đăng Nhập</span>
								<div class="percentage">
								<span>7.0%</span>
								</div>
							</div>
							<div class="stat-value">856
								<i class="fa-solid fa-arrow-trend-down red-icon"></i>
							</div>
        					<div class="stat-customer">Sinh viên / Ngày</div>
						</div>
						<!--Stat-item 2-->
						<div class="stat-item-2">
							<div class="stat-header">
								<span>Số lượng đã bán</span>
								<div class="percentage">
								<span> 12.0% </span>
								</div>
							</div>
							<div class="stat-value">40
								<i class="fa-solid fa-arrow-trend-up icon"></i>
							</div>
							<div class="stat-customer">Trang / Ngày</div>
						</div>
						<!--Stat-item 3-->
						<div class="stat-item-3">
							<div class="stat-header">
								<span>Yêu cầu in</span>
								<div class="percentage">
									<span>22.0%</span>
								</div>
							</div>
							<div class="stat-value">267
								<i class="fa-solid fa-arrow-trend-up icon"></i>
							</div>
							<div class="stat-customer">Lượt / Ngày</div>
						</div>
						<!--State-item 4-->
						<div class="stat-item-4">
							<div class="stat-header">
								<span>Số lượng đã in</span>
								<div class="percentage">
									<span>7.0%</span>
								</div>
							</div>
							<div class="stat-value">1213
								<i class="fa-solid fa-arrow-trend-down red-icon"></i>
							</div>
							<div class="stat-customer">Trang / Ngày</div>
						</div>
						<div class="footer">16:11, 30/12/2024</div>
					</div>
					<!--Bảng thống kê-->
					<div class="chart-container">
						<div class="chart-title">
							<h3>LOẠI FILE IN</h3>
							<canvas id="myChart"></canvas>
							<div class="footer">16:11, 30/12/2024</div>
						</div>
						<script>
							 ctx = document.getElementById('myChart').getContext('2d');
								const dataValues = [367, 220, 346, 153]; // Số liệu
								const total = dataValues.reduce((a, b) => a + b, 0); // Tính tổng để ra phần trăm

								const fileTypeChart = new Chart(ctx, {
									type: 'pie',
									data: {
										labels: ['PDF', 'PNG', 'DOCS', 'KHÁC'],
										datasets: [{
											data: dataValues,
											backgroundColor: ['#00cc99', '#ff00ff', '#0000ff', '#ff9900'], // Màu sắc
											borderWidth: 1,
										}]
									},
									options: {
										responsive: true,
										plugins: {
											legend: {
												position: 'right',
												labels: {
													usePointStyle: true,
												},
											},
											datalabels: {
												color: '#000', // Màu chữ
												font: {
													size: 12,
													weight: 'bold'
												},
												formatter: (value, context) => {
													// Tính phần trăm
													const percentage = ((value / total) * 100).toFixed(2);
													return `${percentage}%`; // Hiển thị phần trăm
												},
												anchor: 'end', // Vị trí
												align: 'start',
												offset: 10,
											},
										},
									},
									plugins: [ChartDataLabels],
								});
						</script>
					</div>
					</div>
					<div class="revenueChart">
							<canvas id="revenueChart"></canvas>
							<script>
								const ctx = document.getElementById('revenueChart').getContext('2d');
								 data = {
									labels: ['Quý 1', 'Quý 2', 'Quý 3', 'Quý 4'],
									datasets: [
										{
											label: 'Doanh thu (triệu đồng)',
											data: [10500, 11000, 12000, 14000],
											backgroundColor: 'rgba(54, 162, 235, 0.5)',
											borderColor: 'rgba(54, 162, 235, 1)',
											borderWidth: 1,
											type: 'bar'
										},
										{
											label: 'Trendline',
											data: [10500, 11000, 12000, 14000],
											borderColor: 'rgba(75, 192, 192, 1)',
											fill: false,
											type: 'line',
											tension: 0.3
										}
									]
								};
						
								 config = {
									type: 'bar',
									data: data,
									options: {
										responsive: true,
										plugins: {
											legend: {
												position: 'top',
											},
											title: {
												display: true,
												text: 'DOANH THU'
											}
										},
										scales: {
											y: {
												beginAtZero: true,
												title: {
													display: true,
													text: 'triệu đồng'
												}
											}
										}
									},
								};
						
								const revenueChart = new Chart(ctx, config);
							</script>
						
					</div>
					</div>
				</div>
				<!--Right column-->
				<div class="right-column">
				<div class="small-container">
						<!--Bảng yêu cầu in-->
				<div class="table-container">
					<div style="display: flex; justify-content: space-between; margin-top: 50px;">
						<span style="font-weight: bold;">YÊU CẦU IN GẦN ĐÂY</span>
						<div>
						  <i class="fa-solid fa-sliders"></i>
						  <i class="fa-solid fa-arrow-up-right-from-square" style="margin-left: 1px;"></i>
						</div>
					  </div>					  
					<table>
					<thead>
						<tr>
							<th>MSSV</th>
                			<th>HỌ TÊN</th>
                			<th>THỜI GIAN</th>
                			<th>KÍCH THƯỚC</th>
                			<th>TÌNH TRẠNG</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>2252634</td>
            				<td><img src="icon.png"style="width: 16px; height: 16px; margin-left: 5px;">
                				ĐOÀN HẢI BĂNG</td>
            				<td>29/10/2024</td>
            				<td>181KB</td>
            				<td><div class="circle">100%</div></td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td>2352434</td>
							<td><img src="icon.png"style="width: 16px; height: 16px; margin-left: 5px;">
								HÀ QUANG HÙNG</td>
							<td>29/10/2024</td>
							<td>200KB</td>
							<td><div class="circle">65%</div></td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td>2251222</td>
                			<td><img src="icon.png"style="width: 16px; height: 16px; margin-left: 5px;">
                    			NGUYỄN NHÃ LAM</td>
                			<td>29/10/2024</td>
                			<td>1MB</td>
                			<td><div class="circle">50%</div></td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td>2251222</td>
							<td><img src="icon.png"style="width: 16px; height: 16px; margin-left: 5px;">
								NGUYỄN NHÃ LAM</td>
							<td>29/10/2024</td>
							<td>1MB</td>
							<td><div class="circle">50%</div></td>
						</tr>
					</tbody>
					<tbody>
						<tr>
							<td>2252293</td>
							<td><img src="icon.png"style="width: 16px; height: 16px; margin-left: 5px;">
								HUỲNH MAI QUỐC KHANG</td>
							<td>29/10/2024</td>
							<td>10KB</td>
							<td><div class="circle">100%</div></td>
						</tr>
					</tbody>
				</table>
				</div>
					<!--Tạo chart-->
					<div class="bar-chart">
						<div class="chart-container-1">
						<h3>SỐ GIẤY ĐÃ BÁN TRONG 10 NGÀY GẦN ĐÂY</h3>
						<div class="chart">
							<canvas id="newChart"></canvas>
							<script>
								// Dữ liệu của biểu đồ
								const labels = ['9/10', '10/10', '11/10', '12/10', '13/10', '14/10', '15/10', '16/10', '17/10', '18/10'];
								const data = {
								  labels: labels,
								  datasets: [{
									label: 'Số trang giấy đã bán',
									data: [40, 52, 54, 24, 89, 29, 89, 43, 70, 40],
									backgroundColor: '#001F668',
									borderColor: '#001F66',
									borderWidth: 1
								  }]
								};
							
								// Cấu hình biểu đồ
								const config = {
								  type: 'bar',
								  data: data,
								  options: {
									responsive: true,
									plugins: {
									  legend: {
										display: false
									  },
									  tooltip: {
										callbacks: {
										  label: function(context) {
											return `${context.raw} trang`;
										  }
										}
									  }
									},
									scales: {
									  y: {
										beginAtZero: true,
										max: 100,
										ticks: {
										  stepSize: 10
										}
									  }
									}
								  }
								};
							
								// Vẽ biểu đồ
								const myChart = new Chart(
								  document.getElementById('newChart'),
								  config
								);
							  </script>
						</div>
						</div>
					</div>
				</div>
				</div>
			</div>			
	</body>
</html>

