<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang chủ sinh viên</title>
    <link
      rel="shortcut icon"
      href="static/images/HCMUT_official_logo.ico"
      type="image/x-icon"
    />
    <style>
      html,
      body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
      }
      .hover-div {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #23abea;
        transition: background-color 0.3s ease, color 0.3s ease;
      }

      .hover-div:hover {
        background-color: #142c64;
        color: white;
      }
    </style>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/navbar.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styleProduct.css') }}"
    />
  </head>
  <body>
    <div id="root"></div>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Itim&display=swap"
      rel="stylesheet"
    />
    <div id="customer-home-page">
      <div id="navbar">
				<div
					id="logo"
					style="
						width: 220px;
						height: 57.6px;
						left: 40px;
						top: 5.6px;
						position: absolute;
						background: #ab1d1c;
						border-radius: 16px;
					">
					<img
						style="
							width: 53.6px;
							height: 53.6px;
							left: 10px;
							top: 50%;
							transform: translateY(-50%);
							position: absolute;
						"
						src="{{ url_for('static', filename='images/bookstore-icon.png') }}" />
					<div
						style="
							width: 70%;
							left: 80px;
							top: 50%;
							transform: translate(0, -50%);
							position: absolute;
							color: white;
							font-size: 20px;
							font-family: Montserrat;
							font-weight: 700;
							word-wrap: break-word;
						">
						E-bookstore
					</div>
				</div>
				<div class="nav-block">
					<script>
						function openMenu(x) {
							x.classList.toggle("change");
							const menu = document.getElementById("menu");
							if (menu.classList.contains("appear")) {
								menu.classList.remove("appear");
							} else {
								menu.classList.add("appear");
							}
						}
					</script>
					<div id="menu-icon" onclick="openMenu(this)">
						<div id="bar1"></div>
						<div id="bar2"></div>
						<div id="bar3"></div>
					</div>
					<ul id="menu">
						<li><a href="/index">CATALOG</a></li>
						<li><a href="/cart">CART</a></li>
						<li><a href="/order">ORDER</a></li>
					</ul>
				</div>
				<div id="noti-account">
					<div class="info-list">
						<ul>
							<li>
								<img src="" class="profile-img" alt="Profile Picture">
								<div class="name">{{ name }}</div>
								<ul class="dropdown">
									<li><a href="/account">Account</a></li>
									<li>
										<a>Language</a>
										<ul class="nextpage">
											<li>Tiếng Việt</li>
											<li>English</li>
										</ul>
									</li>
									<li><a href="/">Log out</a></li>
								</ul>
								<svg
									style="padding: 0 10px, 0 10px"
									width="10"
									height="5"
									viewBox="0 0 12 8"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
									style="margin-left: -5px">
									<path
										d="M1 1L6 6L11 1"
										stroke="black"
										stroke-width="1.6"
										stroke-linecap="round"
										stroke-linejoin="round" />
								</svg>
							</li>
						</ul>
					</div>
				</div>
			</div>
      <div class="book-container">
        <div id="book-image">
          <img id="book-img" src=""
               style="height: 600px;"
               alt="Book Image" class="main-image">
        </div>
        <div class="book-details">
          <h1 id="book-title"></h1>
          <p id="book-category"></p>
          <p id="book-publisher"></p>
          <p id="book-publishing-year"></p>
          <p id="book-author"></p>
          <p id="book-cover"></p>
          <p id="sales-count"></p>
          <p id="no-page"></p>
          <p id="size"></p>

          <!-- Price Section -->
          <div class="price-section">
              <span id="book-price">60.000 đ</span>
          </div>
          <!-- Purchase Options -->
          <div class="purchase-options">
              <button class="btn add-to-cart">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
    <script>
      async function fetchBookDetails() {
          try {
              const response = await fetch(`/book`);
              if (!response.ok) {
                  throw new Error('Book not found');
              }

              const book = await response.json();
              displayBookDetails(book);
              console.log(book)
          } catch (error) {
              console.error('Error fetching book details:', error);
          }
      }

      // Display book details
      function displayBookDetails(book) {
          document.getElementById('book-img').src = book.img;
          document.getElementById('book-title').textContent = book.name;
          document.getElementById('book-publisher').textContent = "Publisher: " + book.publisher;
          document.getElementById('book-publishing-year').textContent = "Publishing Year: " + book.publishYear;
          document.getElementById('book-author').textContent = "Authors: " + book.author;
          document.getElementById('book-category').textContent = "Category: " + book.category;
          document.getElementById('book-cover').textContent = "Cover: " + book.cover;
          document.getElementById('book-price').textContent = `${book.price.toLocaleString('vi-VN')} đ`;
          document.getElementById('sales-count').textContent = `${book.noStock} in stock`;
          document.getElementById('no-page').textContent = `Number of pages: ${book.noPages}`;
          document.getElementById('size').textContent = `Size: ${book.size}`;
      }

      // Load books on page load
      window.onload = fetchBookDetails;
    </script>
  </body>
</html>
