body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

/* Movable Chat Icon */
#chat-icon {
    width: 50px;
    height: 50px;
    background-color: #23abea; /* Đổi màu icon chat thành màu chủ đạo */
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/* Chat Box */
#chat-box {
    width: 350px;
    height: 500px;
    background-color: #ffffff; /* Màu nền sáng cho khung chat */
    color: #333333; /* Chữ màu tối để dễ đọc */
    position: fixed;
    bottom: 80px;
    right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    display: none; /* Ẩn khung chat ban đầu */
    flex-direction: column;
}

/* Chat Header */
.chat-header {
    background-color: #23abea; /* Màu nền header giống icon */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.chat-header button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}

/* Chat List */
#chat-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    flex-grow: 1;
}

#chat-list li {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

#chat-list li:hover {
    background-color: #e4eaf2; /* Màu nền sáng khi hover vào item */
}

#chat-list img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-name {
    font-weight: bold;
    color: #333333; /* Chữ tên người chat màu đen */
}

.chat-message {
    font-size: 14px;
    color: #777777; /* Chữ tin nhắn màu xám */
}

/* Chat Conversation */
#chat-conversation {
    display: none;
    flex-direction: column;
    flex-grow: 1;
}

#messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: #f1f3f5; /* Màu nền sáng cho khu vực tin nhắn */
    color: #333333;
}

.chat-input {
    display: flex;
    padding: 10px;
    background-color: #f7f9fb; /* Màu nền sáng cho input */
}

.chat-input input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e5e8eb; /* Màu nền input */
    color: #333333;
}

.chat-input button {
    margin-left: 10px;
    padding: 10px;
    border: none;
    background-color: #23abea; /* Nút gửi cùng màu với icon */
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
