input {
	color: black;
	font-family: montserrat;
	padding: 10px;
	border-radius: 10px;
	width: 200%;
	overflow: hidden;
	border: 1.5px #ab1d1c solid;
	justify-content: flex-start;
	border-color: #ab1d1c;
	align-items: center;
	gap: 10px;
	display: inline-flex;
}
