#customer-home-page {
	height: 90vh;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 10px;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product h3 {
    font-size: 18px;
    color: #555;
    margin: 10px 0;
}

.product .price {
    font-size: 16px;
    color: #e74c3c;
    font-weight: bold;
}

.product .original-price {
    font-size: 14px;
    color: #aaa;
    text-decoration: line-through;
    margin-left: 5px;
}

.product .discount {
    font-size: 14px;
    color: #27ae60;
    margin-top: 5px;
}

.product .sales {
    font-size: 14px;
    color: #888;
    margin-top: 10px;
}